<div class="cover-page container">
    <img src="/images/parentPortalCover.jpeg" alt="Parent Portal Cover">
    <h1>Sign In Here</h1>
    <a href="/parents">
        <button class="waves-effect waves-light btn" type="submit">Enter</button>
    </a>
</div>

