<h1>Participant Parents</h1>

<ul>
    {{#each listOfParents}}
    <li>
        <a href="/parents/{{_id}}">
            <p>{{firstName}}</p>
            <p>{{lastName}}</p>
            <p>{{email}}</p>
        </a>
    </li>
    {{/each}}
    <div>
    <a type="submit" href="/parents/new">New Parent</a>
    </div>
</ul>
