<h1>Participant Parents</h1>

<ul class="collection">
    {{#each listOfParents}}
    <li class="collection-item teal">
        <a href="/parents/{{_id}}">
            <p>First Name: {{firstName}}</p>
            <p>Last Name: {{lastName}}</p>
            <p>e-mail: {{email}}</p>
        </a>
    </li>
    {{/each}}
    <div>
    <a class="waves-effect waves-light btn teal" type="submit" href="/parents/new">New Parent</a>
    </div>
</ul>
