<h1>Create a New Parent Profile</h1>

<form action="/parents" method="POST">
    <div>
        <label>New Parent</label>
            <input for="firstName" type="text" name="firstName" placeholder="First Name" value="{{parentProfile.firstName}}" />
            <input for="lastName" type="text" name="lastName" placeholder="Last Name" value="{{parentProfile.lastName}}" />
            <input for="email" type="email" name="email" placeholder="E-mail" value="{{parentProfile.email}}" />
  
        <button type="submit">Enter</button>
        </form>
    </div>
</form>