<h1>Create a New Parent Profile</h1>

<form action="/parent" method="post">

    <div>
        <label for="title">New Parent</label>
            <input type="text" name="profile" value="{{parentProfile.firstName}}" />
            <input type="text" name="profile" value="{{parentProfile.lastName}}" />
            <input type="email" name="profile" value="{{parentProfile.email}}" />
  
        <button type="submit">Update</button>
        </form>
        
    </div>




</form>