body{
  padding: 0;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 12px;
}

a p{
  color: white;
  font-size: 16px;
}

.new-profile{
  background-color: gray;
}

